body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    padding-top: 20px;
    background: #D4AA7D;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 2;
}

#top-header {
    width: 100%;
    background: #EFD09E;
    z-index: 2;
}

.account-nav {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    z-index: 3;
}

.account-nav li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 10px;
}

.account-nav a, visited {
    color: white;
    font-family: 'Roboto';
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    
}

.main-nav {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
}

.main-nav li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 10px;
    
}

.main-nav a, visited {
    color: white;
    font-family: 'Roboto';
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    
}

nav a:hover {
    text-decoration: underline;
}

.account { 
    color: white;
    font-family: 'Roboto';
    font-size: 10px;
    cursor: pointer;
    text-decoration: none;
    right: 30px;
    top: 20px;

    display: inline-block;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} 

.menu-nav, .menu-prices, .menu-content{
    text-align: left; 
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    
}


.detail-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#menu-title {
    margin-top: 180px;
    padding-top: 10px;
    padding-bottom: 30px;
}

#title {
    font-family: 'Onest';
    font-style: bold; 
    text-align: center;
    font-size: xx-large;
    padding-top: 20px;
    padding-bottom: 30px;
}

#order-button {
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
    font-family: 'Onest';
    color: #90A9B7;
    font-style: bold; 
    text-align: center;
    font-size: xx-large;
}

h2 {
    font-family: 'Roboto';
    color: black;
    font-size: medium;
}

h3 {
    font-family: 'Roboto';
    color: white;
    text-align: center;
    font-size: x-large;
    border: 2px solid white; 
    padding: 10px;
    display: inline-block; 
}

h4 {
    font-family: 'Onest';
    color: #90A9B7;
    font-style: bold; 
    text-align: center;
    font-size: x-large;
    margin-top: 20px;
    margin-bottom: 10px;
}

h5 {
    font-family: 'Roboto';
    color: black;
    text-align: center;
    font-size:medium;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    font-family: 'Roboto';
    color: black;
}

section img {
    width: 40px;
    height: 40px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    
}

.css-selector {
    font-family: 'Roboto', serif;
    }
